<%- include('partials/header') %>
    <h1 class="text-3xl md:mx-3 text-cyan-200 font-bold underline">
        Welcome Index Page
    </h1>
    <!-- <h1>Welcome Index Page</h1> -->
    <%- include('partials/footer') %>